* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  body {
    height: 200vh;
    background: linear-gradient(135deg, #c3a3f1, #6414e9);
  }
  #top_bar {
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    height: 150px;
    background-color: rgb(241, 241, 2);
    box-shadow: 0 4em 5em rgba(27, 8, 53, 0.2);
}

#logo {
    position: absolute;
    top: 5%;
    left: 2%;
}

#heading{
    position: absolute;
    vertical-align: middle;
    text-align: center;
    left:20%;
    top: 30%;
    }
   

  .wrapper {
    width: 90%;
    max-width: 34.37em;
    max-height: 120vh;
    background-color: #ffffff;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 80%;
    left: 50%;
    padding: 3em;
    border-radius: 1em;
    box-shadow: 0 4em 5em rgba(27, 8, 53, 0.2);
  }
.demo_wheel{

       font-size: 1.5em;
    text-align: center;

    color: #202020;
    font-weight: 500;
}

  #final-value {
    font-size: 1.5em;
    text-align: center;
    margin-top: 1.5em;
    color: #202020;
    font-weight: 500;
  }
  @media screen and (max-width: 768px) {
    .wrapper {
      font-size: 12px;
    }
    img {
      right: -5%;
    }
  }